<div class="content-container">
  <div class="text-overlay">
    Welcome to the Love Lift
  </div>


  <div class="button-container" >

  <div class="questions">
    Questions
  </div>

  <div class="button-container-questions">
    <button class="button-overlay" (click)="btnClickSingle()">Single</button>
    <button class="button-overlay" (click)="btnClickCouple()">Couple</button>
  </div>


  </div>


  <div class="button-container" >
  <div class="games">
    Games
  </div>

  <button class="button-overlay" (click)="btnClickRather()">Who would rather?</button>
  <button class="button-overlay" (click)="btnClickEmergency()">Emergency!</button>

  </div>

  <div style="font-size: 4rem">
    <a class="instagram" href="https://www.instagram.com/the_love_lift" target="_blank" rel="noopener noreferrer">
      <i class="fab fa-instagram"></i>
    </a>
  </div>
</div>
