.text-overlay {
  font-size: 4rem;
  position: relative;
  color: deeppink;
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 15rem;
  z-index: 10;
  text-shadow: 8px 8px 8px rgba(0, 0, 0, 0.9);
  -webkit-text-stroke: 1px black;
  font-weight: bold;
}

.questions {
  font-size: 3rem;
  position: relative;
  color: deeppink;
  text-align: center;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.9);
  -webkit-text-stroke: 1px black;
}

.games {
  font-size: 3rem;
  position: relative;
  color: deeppink;
  text-align: center;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.9);
  -webkit-text-stroke: 1px black;
}

.button-container-questions {
  display: flex;
  justify-content: center; /* Zentriert die Buttons horizontal */
  gap: 10px; /* Fügt einen Abstand zwischen den Buttons hinzu */
}

.button-overlay {
  background-color: black;
  color: deeppink;
  font-size: 1.2rem;
  padding: 1rem 2rem; /* Adjust padding as needed */
  border: none; /* Remove default border */
  cursor: pointer; /* Change cursor to pointer on hover */
  border-radius: 20px; /* Adds rounded corners to the buttons */
  margin: 0.5rem; /* Add some space around the buttons */
  transition: background-color 0.3s; /* Smooth transition for hover effect */
  box-shadow: 4px 4px 4px 4px rgb(0 0 0 / 50%);
}

.button-overlay:hover {
  background-color: deeppink; /* Change background color on hover */
  color: black; /* Change text color on hover */
}

.content-container {
  text-align: center;
}

a {
  display: inline-flex;
  align-items: center;
  color: #C13584;
  text-decoration: none;
}

.button-container{
  margin-top: 1rem;
  border-radius: 40px;
  width: 50%;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}



