<div class="component-background">
  <div class="content-container">
    <div class="text-overlay" style="font-size: 4rem">
      Welcome to the Love Lift
    </div>
    <button style="text-align: left" class="button-overlay" (click)="btnClickSingle()">Single</button>
    <button style="text-align: right" class="button-overlay" (click)="btnClickCouple()">Couple</button>
    <div style="font-size: 2rem; margin-top: 15rem">
      <a class="text-overlay" href="https://www.instagram.com/the_love_lift" target="_blank" rel="noopener noreferrer">
        <i class="fab fa-instagram"></i>
      </a>
    </div>
  </div>
</div>
