<div class="black-container">
  <h1>Emergency!</h1>
  <div class="rather">
    You guys have nothing to talk about? Maybe this will entertain you.
  </div>
  <iframe class="video" src="https://www.youtube.com/embed/Rl_ceUhchbA?si=wIEbvUe3K6IwBG7B" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  <div >
    <button class= "button-back" style="text-align: left" (click)="backHome()">Back Home</button>
  </div>
</div>
