@import "../node_modules/@fortawesome/fontawesome-free/css/all.css";

body {
  background-image: url('/assets/BackgroundMain.png');
  background-size: cover; /* Cover the entire page */
  background-position: center; /* Center the background image */
  background-attachment: fixed; /* Keep the background image fixed during scrolling */
  margin: 0; /* Remove default margin */
  background-size: 200%;
}
