<div class="black-container">
  <h1>Spicy Couple Questions</h1>
  <ul class="dating-questions">
    <li>1. If you could swap bodies with me for a day what's the first thing you would do?</li>
    -------------------------------
    <li>2. What's something you have always wanted to try but assumed I wouldn't like?</li>
    -------------------------------
    <li>3. Are you open for anal sex?</li>
    -------------------------------
    <li>4. Would you be open to have sex in a gondola?</li>
    -------------------------------
    <li>5. If we were to role-play, which characters or scenarios would you want to try?</li>
    -------------------------------
    <li>6. What is something that turns you on which is normally considered non sexual?</li>
    -------------------------------
    <li>7. If our relationship had a theme song, what would it be?</li>
    -------------------------------
    <li>8. What's the weirdest thing you caught me doing when I thought you weren't looking?</li>
    -------------------------------
    <li>9. If we had to survive in a zombie apocalypse together, what would be our survival plan?</li>
    -------------------------------
    <li>10. Do you want to spicy it up a little bit? (No ones looking anyway!) </li>
  </ul>

  <div>
    <button class= "button-back"  (click)="backHome()">Back Home</button>
  </div>

  <div style="font-size: 4rem; margin-top: 2rem">
    <a class="text-overlay" href="https://www.instagram.com/the_love_lift" target="_blank" rel="noopener noreferrer">
      <i class="fab fa-instagram"></i>
    </a>
  </div>
</div>
